body{
    font-size: 20px;
    margin: 0px;
    position: relative;
}

*:focus{
    outline: none;
}

.horizontal{
    display: flex;
    flex-wrap: wrap;
}

.horizontal-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-fluid{
    display: flex;
    margin: 0;
    padding: 0px !important;
    position: relative;
}

.menu{
    width: 240px;
    margin: 0;
}

.logo{
    position:fixed;
    left: 0;
    background: url("../../../Images/logo.png") no-repeat;
    background-size: 235px 100%;
    width: 240px;
    height: 100px;
    border: 1px solid #000;
    cursor: pointer;
}

.menu-function{
    top: 100px;
    position:fixed;
    width: 240px;
    text-align: center;
    margin: 0;
    padding: 0;
}

    .menu-function button{
        cursor: pointer;
        width: 100%;
        height: 60px;
        font-size: 16px;
        font-weight: bold;
        background-color: #ffffff;
        border: 1px solid rgb(73, 72, 72);
        background-color: #244b64;
        border: none;
        color: #ffffff;
    }

        .menu-function button:hover{
            background-color: #3a84b6;
        }

.function-detail{
    display: none;
}

    .function-detail button{
        width: calc(100% - 0px);
        background-color: #bcd4e4;
        color: #000;
    }

        .function-detail button:hover{
            background-color: #99caf5;
        }

.body{
    flex: 70%;
    height: auto;
    flex-wrap: wrap;
    position: relative;
}

.header-bar{
    height: 50px;
    width: 100%;
    background: #3a84b6;
    color: #ffffff;
}

.title{
    align-items: center;
    display: flex;
    align-items: center;
}

#label-title{
    margin: 0%;
    font-size: 32px;
    font-weight: bold;
    padding-left: 20px;
}

.header-bar{
    display: flex;
    flex-wrap: wrap;
}

.notify{
    margin: 2px 5px;
    cursor: pointer;
}

.avatar{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #000;
    cursor: pointer;
    margin: 2px 5px;
    cursor: pointer;
}

.account{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    height: 100%;
    width: 250px;
}
.btn-group{
    width: 100%;
}

.btn-group .btn-secondary{
    height: 100%;
    width: 100%;
    font-weight: bold;
    background-color: #ffffff;
    color: #000;
    font-size: 16px;
}

.dropdown-menu{
    justify-content: center;
    padding: 0px;
}

.dropdown-item{
    width: 100%;
    padding: 10px 5px;
    background: #ffffff;
    color: #000;
    border: none;
    border-bottom: 1px solid rgb(71, 69, 69);
}

.dropdown-item:hover{
    background: #ccc;
    color: #ffffff;
}

.mdb-select{
    padding: 5px 10px;
    margin: 0px 10px;
    margin-bottom: 10px;
}

.active-cyan-2 input.form-control[type=text]:not([readonly]) {
    border: none;
    width: 400px;
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border: none;
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan .fa, .active-cyan-2 .fa, .active-cyan-2 .fa-search {
    color: #4dd0e1;
    cursor: pointer;
}


.title{
    height: 100%;
    width: calc(100% - 250px);
}

.function-account{
    width: 150px;
    cursor: pointer;
    margin: 2px 5px
}

#label-account{
    width: 200px;
    margin: 0;
    padding: 5px 10px;
}

.btn .btn-secondary .dropdown-toggle{
    width: 400px;
}

/* Table */
.grid table{
    width: calc(100% - 20px);
    border-collapse: collapse;
    margin: 10px;
    font-size: 16px;
}

table td, th{
    padding: 4px;
}

table thead{
    background-color: rgb(239, 239, 239);
}

table tbody tr:hover{
    background-color: #b8e3ff;
    cursor: pointer;
}
/*
tr.active td{
    background-color: #b8e3ff;
}
*/

table tbody tr.row-selected {
    background-color: #b8e3ff;
}

/*  */

.text-left{
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center{
    text-align: center;
}

.div-front {
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    display: none;
}

.in-div-front {
    width: 60%;
    background: #fff;
    opacity: 1.0;
    border-radius: 20px;
    padding: 0 30px 30px 30px;
    margin: 60px auto;
    transition: 0.5s;
}

.content{
    padding: 20px;
}

.center{
    text-align: center;
}

.div-front-1 {
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    display: none;
}

.in-div-front-1 {
    width: 60%;
    background: #fff;
    opacity: 1.0;
    border-radius: 20px;
    padding: 0 30px 30px 30px;
    margin: 60px auto;
    transition: 0.5s;
}