@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;400;500;600;700;800;900&display=swap');
.navbar {
    z-index: 1000000 !important;
}


/*-----------------NAVBAR LEFT------------------*/

a,
h1,
h2,
h3,
h4,
h5,
label,
p,
div,
span,
i {
    font-family: 'Libre Franklin', sans-serif;
}

.navbar-left {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    background-color: transparent;
    height: 90vh;
}

ul.nav-left {
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    margin-left: 20px;
    background-color: #f1f1f1;
}

ul.nav-left li a {
    display: block;
    height: 50px;
    color: #000;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

ul.nav-left li a.active {
    background-color: #000000;
    color: white;
}

ul.nav-left li a:hover:not(.active) {
    background-color: rgb(140, 176, 197);
    color: white;
}

.filter-bill {
    font-size: 13px;
    padding: 10px;
    margin-left: 10px;
    background-color: rgb(212, 212, 212);
    border: none;
    display: none;
    border-radius: 20px;
}

.filter-bill .title-filter {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

.filter-bill .form-check-label {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Libre Franklin', sans-serif;
}


/*--------------------THÔNG TIN CÁ NHÂN---------------------*/

#sub-menu{
    display: none;
}


.title-infor {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(26, 26, 26);
    background-color: #e4a1a1;
    padding: 10px;
    border-left: 3px solid black;
    font-family: 'Libre Franklin', sans-serif;
}

.profile-content .content {
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 80px;
}

.profile-content .content {
    text-align: left;
}

.form-group label,
#birthday {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}

.form-check {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 10%;
    font-family: 'Libre Franklin', sans-serif;
}

.services-breadcrumb {
    height: 20px !important;
    padding-bottom: 20px;
}

.btn-signin {
    width: 150px;
    height: 45px;
    border-radius: 50px!important;
    margin-top: 20px;
    margin-left: 40%;
    font-size: 16px !important;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    background-color: #000000;
    outline: none;
    border: none;
}

.btn-signin:hover {
    background-color: #39dbff;
    letter-spacing: 2px;
    color: rgb(59, 59, 59);
    transform: translateY(-3px);
    font-weight: 600;
    transition: 0.5s ease-in-out;
}

.info-account {
    margin-top: -50px;
    padding: 40px 0 30px 0;
}

#info-account {}


/*---------------------------THÔNG TIN ĐƠN HÀNG ĐÃ MUA------------------------*/

#list-boughtbill {
    display: none;
}

.product-infor table {
    width: 100%;
}

.product-infor .img-product {
    margin-left: 20px;
    margin-bottom: 3px;
    height: 100px;
    width: auto;
    max-width: 100%;
}

.product-infor {
    margin-top: 25px;
    padding-bottom: 50px;
    border: 1px solid rgb(202, 202, 202);
}

.product-infor .title {
    font-size: 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    vertical-align: middle;
}

.product-infor .quantity {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
    color: #555;
}

.product-infor .price-product {
    font-size: 18px;
    color: rgb(185, 17, 17);
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    font-weight: 500;
}

.product-infor .state {
    height: 28px;
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    font-size: 16px;
    vertical-align: middle;
    color: rgb(231, 230, 230);
    text-align: center;
}

.product-infor .devider {
    width: 100%;
    border: none;
    margin: 10px 0px 5px 20px;
    height: 0.5px;
    background-color: rgb(192, 190, 190);
}

.product-infor .header {
    margin-left: 0;
    margin-top: -10px;
    margin-bottom: 20px;
    background-color: rgb(162, 181, 182);
}

.btn-action {
    padding-right: 20px;
}

.btn-action .total-cost {
    text-align: right;
    font-size: 19px !important;
    font-weight: 500;
    color: rgb(201, 47, 47);
}

.btn-action label {
    font-size: 17px;
    font-weight: 300;
    width: 100%;
    margin-top: -10px;
    text-align: right;
    color: rgb(56, 56, 56);
}

.btn-action button {
    float: right;
    background-color: chocolate;
    border: none;
    outline: none;
}


/*----------------------THANH TÌM KIẾM----------------------------*/

.aqua-gradient {
    background-image: linear-gradient(to right, rgb(10, 150, 231), rgb(41, 221, 167));
}

.search {
    margin-bottom: 30px;
    margin-top: -20px;
}

.search form {
    margin-left: 20px;
    display: flex;
}

.search form button {
    color: white;
    font-size: 16px;
    height: 35px;
    width: 20%;
    outline: none;
    font-weight: 500;
    border-radius: 18px;
}

.search form .search-input {
    outline: none;
    border: none;
    font-size: 14px;
    width: 80%;
    border-bottom: 1px solid rgb(8, 173, 173);
}


/*--------------CHI TIẾT ĐƠN HÀNG-----------*/


/*--------ĐỊA CHỈ------*/

.address-receive {
    background-color: rgb(226, 255, 250);
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
}

.info-detailBill .idbill {
    margin-left: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-left: 5px solid rgb(134, 3, 3);
}

.info-detailBill .idbill label {
    font-size: 15px;
    font-weight: 600;
    color: brown;
}

.info-detailBill .idbill span {
    font-weight: 700;
    font-size: 17px;
    color: #000;
    padding-left: 10px;
}

.infor-bill table {
    padding-top: 10px;
}

.address-receive h5 {
    font-size: 22px;
    margin: 5px 10px;
    font-weight: 600;
    color: brown;
}

.address-receive h6 {
    margin-left: 50px;
    font-weight: 500;
    margin-top: 15px;
    font-size: 15px;
}