﻿.avatar-info{
    margin: 40px auto;
    text-align: center;
}

#img-avatar-account {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

#file-image-avatar {
    display: none;
    padding: 10px;
    background: #2d2d2d;
}

.select-image{
    margin: 10px;
}

.btn-select-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    background: none;
}

    .btn-select-image:hover {
        color: #3A84B6;
    }

.icon-select-image{
    font-size: 28px;
}

.account-info{
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px 60px 20px 60px;
    margin: 20px auto 40px auto;
    width: 50%;
    min-width: 600px;
}

#selectMale {   
    border: none;
    padding: 10px 10px 0px 10px;
}

.button-update{
    text-align: center;
}

#btnUpdate {
    padding: 10px 50px;
    border-radius: 20px;
    background-color: #015478;
    font-weight: bold;
    border: 1px solid #000;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
}

    #btnUpdate:hover {
        color: #015478;
        background-color: #fff;
    }