﻿.avatar-in-table{
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.img-in-table {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
}

.front-div{
    position: fixed;
    top: 0px;
    left: 240px;
    width: calc(100% - 240px);
    height: 100%;
    background: rgba(128, 128, 128, 0.3);
    display:none;
    align-items: center;
    justify-content: center;
}

    .front-div i {
       font-size: 20px;
       color: red;
       cursor: pointer;
    }

.icon-close{
    text-align: right;
    padding-top: 16px;
}

.front-div img {
    height: 400px;
    width: 400px;
    background: #fff;
    border-radius: 50%;
}

.flex{
    display: flex;
}

#btnAddAccount{
    margin-left: 40px;
    font-weight: 600;
}

#btnAddAccount:hover{
    border: 1px solid #000;
}

.button-add-account{
    text-align: center;
    margin-top: 24px;
}

.title-add-account {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #015478;
}

#txtPermission{
    padding: 5px 10px;
    border: none;
    width: 100%;
}

.front-account
{
    position: fixed;
}

.in-front-account {
    height: auto;
}