﻿body {
    font-size: 16px;
    margin: 0;
}

*:focus {
    outline: none;
 }

.container{
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
    align-items: center;
    width: 600px;
    border-radius: 10px;
    padding-bottom: 40px;
    border: #000000 1px solid;
}

.title-sign-up{
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
}

    .title-sign-up h1{
        color: #124581;
        padding-top: 8%;
    }

.small-container{
    margin: 0 auto;
    width: 80%;
}

.required-notation{
    color: #ff0000;
    padding-left: 10px;
}

.input-sign-up{
    text-align: left;
}

.info-input{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.label-info-input{
    flex: 20%;
    align-items: center;
    padding: 15px 0px 5px 0px;
    margin-right: 10px;
    min-width: 80px;
    text-align: left;
}

.text-info-input{
    flex: 80%;
    min-width: 100px;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid black;
    width: 80%;
}

    .text-info-input input{
        padding: 10px 10px 0px 10px;
        width: 100%;
        border: none;
    }

    .text-info-input textarea {
        padding: 10px 10px 0px 10px;
        width: 100%;
        border: none;
    }

.radio-info-input{
    flex: 80%;
    display: flex;
    text-align: left;
    padding: 20px 0px 10px 0px;
}

.radio-info-input span{
    margin-right: 20px;
}

.provision-sign-up{
    display: flex;
    margin-top: 20px;
}

.check-provision-sign-up{
    flex: 50%;
    text-align: left;
}

.already-account{
    text-align: right;
    margin-bottom: 40px;
}

a{
    font-style: italic;
    text-decoration: none;
    color: #000000;
}

a:hover{
    color: #0000ff;
}

#provision{
    text-decoration: underline;
    cursor: pointer;
}


.content-add{
    display: flex;
    flex-wrap: wrap;
}

.button-add-product{
    margin-bottom: 20px;
}

    .button-add-product input {
        cursor: pointer;
        width: 150px;
        height: 35px;
        border: none;
        border-radius: 4px;
    }

    .button-add-product #btnAddProduct1, #btnAddType1, #btnEditType1, #btnAddCategory, #btnEditCategory1 {
        background-color: #015478;
        color: #ffffff;
    }

    .button-add-product input:hover {
        border: 2px solid #000000;
    }


.hr-sign-up{
    width: 80%;
}

.error-input{
    font-style: italic;
    color: #ff0000;
}


.block-addproduct{
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 20px;
    float:left;
    width: 100%;
}

.input-addproduct{
    height:230px;
}

.container-addproduct {
    width: 500px;
    
}

.img-addproduct{
    width:125px;
    height: 140px;

}

.container-img-addproduct{
    padding-left:5px;
    padding-right:5px;
}

.droplist-type {
    flex: 80%;
    min-width: 100px;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
    width: 80%;
}

.detail-addtype {
    width: 50%;
    background: #fff;
    opacity: 1.0;
    border-radius: 20px;
    padding: 0 30px 30px 30px;
    margin: 60px auto;
    transition: 0.5s;
}


.icon-close {
    padding-top: 10px;
    padding-right: 20px;
    margin: 0;
    text-align: right;
    font-size: 20px;
}

#icon-close {
    cursor: pointer;
    transition: 0.1s;
}

    #icon-close:hover {
        color: red;
    }