﻿body {
}

.grid-de table {
    width: calc(70% - 20px);
    border-collapse: collapse;
    margin: 10px;
    font-size: 16px;
}

table td, th {
    padding: 4px;
}

table thead {
    background-color: rgb(239, 239, 239);
}

table tbody tr:hover {
    background-color: #b8e3ff;
    cursor: pointer;
}
/*
tr.active td{
    background-color: #b8e3ff;
}
*/

table tbody tr.row-selected {
    background-color: #b8e3ff;
}


.div-front-add-delivery {
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    display: none;
}

.in-div-front-add-delivery {
    width: 60%;
    background: #fff;
    opacity: 1.0;
    border-radius: 20px;
    padding: 0 30px 30px 30px;
    margin: 60px auto;
    transition: 0.5s;
}


.add-delivery {
    width: 40%;
    background: #fff;
    opacity: 1.0;
    border-radius: 20px;
    padding: 0 30px 30px 30px;
    margin: 60px auto;
    transition: 0.5s;
}



.icon-close {
    padding-top: 10px;
    padding-right: 20px;
    margin: 0;
    text-align: right;
    font-size: 20px;
}

#icon-close-add-delivery {
    cursor: pointer;
    transition: 0.1s;
}

    #icon-close-add-delivery:hover {
        color: red;
    }



#icon-close-edit {
    cursor: pointer;
    transition: 0.1s;
}

    #icon-close-edit:hover {
        color: red;
    }
