﻿.content-add {
    display: flex;
    flex-wrap: wrap;
}

.container-addproduct {
    width: 50%;
}

.block-addproduct {
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 10px;
    float: left;
    width: 100%;
}

.info-input {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    margin: 5px 10px 5px 0px;
}

.label-info-input {
    flex: 20%;
    align-items: center;
    padding: 10px 0px 3px 0px;
    margin-right: 10px;
    min-width: 80px;
    text-align: left;
}

*:focus {
    outline: none;
}

.droplist-type {
    flex: 80%;
    min-width: 100px;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
    width: 80%;
}

.error-input {
    font-style: italic;
    color: #ff0000;
}

.button-add-product {
    margin: 10px;
}

    .button-add-product input {
        cursor: pointer;
        width: 150px;
        height: 35px;
        border: none;
        border-radius: 4px;
    }

    .button-add-product #btnAddNewProduct {
        background-color: #015478;
        color: #ffffff;
    }

    .button-add-product input:hover {
        border: 2px solid #000000;
    }

.text-info-input {
    flex: 80%;
    min-width: 100px;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid black;
    width: 80%;
}

    .text-info-input input {
        padding: 10px 10px 0px 10px;
        width: 90%;
        border: none;
    }

    .text-info-input textarea {
        padding: 10px 10px 0px 10px;
        width: 90%;
        border: none;
    }

.detail-product {
    width:70%;
    background: #fff;
    opacity: 1.0;
    border-radius: 20px;
    padding: 0 30px 30px 30px;
    margin: 60px auto;
    transition: 0.5s;
}

.mdb-select{
    width:80%
}
