﻿body {
}

{
    box-sizing: border-box;
}

.row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    flex: 40%;
    padding: 5px;
}

/*table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}*/
.element {
    float: left;
    width: 580px;
    height: 600px;
    background: #efefef;
    margin: 15px;
    padding:70px;   
}
