﻿
.revenue.row{
    margin: 20px;
}

.select-date{
    text-align: right;
}

.title-report{
    font-weight: 900;
    text-align: center;
    padding: 10px;
}

.revenue-detail {
    max-width: 400px;
}

.revenue-detail p{
    margin: 0px;
}

.box-revenue {
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    font-size: 20px;
    align-items: center;
}


#title-revenue{
    text-align: center;
    font-size: 20px;
}

.text-revenue{
    flex: 70%;
    display: flex;
    align-items: center;
}

.value-revenue{
    flex: 30%;
    text-align: center;
    font-weight: bold;
    background: #000;
    border-radius: 20px;
    font-size: 24px;
}

.fa-circle{
    margin-right: 10px;
    font-size: 40px;
}

#customer-circle, #customer-number {
    color: #FFFF80;
}

#order-circle, #order-number {
    color: #CAF982;
}

#complete-circle, #complete-number {
    color: #80FFFF;
}

#return-circle, #return-number {
    color: #8080FF;
}

#cancelled-circle, #cancelled-number {
    color: #C280FF;
}

.info-total-revenue {
    text-align: right;
    padding-right: 10px;
    width: 100%;
}

#total-revenue-circle, #total-revenue {
    color: #00007B;
    font-weight: bold;
    font-size: 40px;
}

.hr-report{
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid #000;
}