﻿.table-voucher {

}

table i {
    cursor: pointer;
}

.detail-voucher {
    width: 60%;
    background: #fff;
    opacity: 1.0;
    border-radius: 20px;
    padding: 0 30px 30px 30px;
    margin: 60px auto;
    transition: 0.5s;
}

.icon-close {
    padding-top: 10px;
    padding-right: 20px;
    margin: 0;
    text-align: right;
    font-size: 20px;
}

#icon-close {
    cursor: pointer;
    transition: 0.1s;
}

#icon-close:hover {
        color: red;
}



#icon-close-edit {
    cursor: pointer;
    transition: 0.1s;
}

    #icon-close-edit:hover {
        color: red;
    }


.div-front-edit {
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    display: none;
}

.in-div-front-edit {
    width: 60%;
    background: #fff;
    opacity: 1.0;
    border-radius: 20px;
    padding: 0 30px 30px 30px;
    margin: 60px auto;
    transition: 0.5s;
}


.edit-voucher-edit {
    width: 40%;
    background: #fff;
    opacity: 1.0;
    border-radius: 20px;
    padding: 0 30px 30px 30px;
    margin: 60px auto;
    transition: 0.5s;
}
