@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,800;0,900;1,500&display=swap');
body {
    font-family: 'Inconsolata', monospace;
}


/*-- Shopping-Cart-PopUp --*/

:root {
    --red-light: #ff4e00;
    --orange: rgb(255, 152, 0);
    --red-main: #550c0c;
    --red-blood: #ff0b0b
    --yellow-main: #ffd300;
    --red-deep: #cc0000;
    --orange-background: #ffeff0;
    --orange-background-tight: #fff8f3;
}
.ghost {
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
}
.btn-plus,
.btn-minus {
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-align: center;
    background-color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    border: 1px solid #1b1b1b;
    vertical-align: bottom;
}

.btn-plus:hover,
.btn-minus:hover {
    background-color: rgb(255, 174, 0);
    font-weight: 500;
    font-size: 19px;
    transition: 0.3s ease-in;
}

.input-value {
    cursor: default;
    width: 40px;
    height: 40px;
    padding: 8px 0px;
    color: #464444;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    text-align: center;
    display: inline-block;
    margin-right: 3px;
}

div#my-cart-modal {
    background-color: rgba(0, 0, 0, 0.50);
}

div#my-cart-modal .modal-dialog {
    width: 50%;
    margin: 100px auto 0;
}

div#my-cart-modal .modal-content {
    background-color: #F5F5F5;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0;
    padding: 30px;
}

div#my-cart-modal .modal-header {
    padding: 0 15px 15px;
    border-bottom: 3px solid #333;
}

div#my-cart-modal h4#myModalLabel {
    font-size: 20px;
    color: #F60B0E;
}

div#my-cart-modal .modal-body {
    padding: 0;
}

div#my-cart-modal .table {
    margin: 0;
}

div#my-cart-modal .table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 10px;
    vertical-align: middle;
    border: none;
}

div#my-cart-modal .table>tbody>tr {
    border-top: 1px solid #CCC;
}

div#my-cart-modal .table>tbody>tr:nth-child(1) {
    border: none;
}

div#my-cart-modal .btn-danger {
    color: #000;
    background-color: #FFF;
    border-color: #000;
}

div#my-cart-modal .btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c9302c;
}

div#my-cart-modal strong {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 15px;
}

div#my-cart-modal .modal-footer {
    border-top: 3px solid #000;
}

div#my-cart-modal button.btn.btn-default,
div#my-cart-modal button.btn.btn-primary {
    padding: 8px 0;
    width: 15%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 0;
    outline: none;
    background-color: #333;
    color: #FFF;
}

div#my-cart-modal button.btn.btn-default:hover {
    background-color: #F60B0E;
}

div#my-cart-modal button.btn.btn-primary a {
    color: #FFF;
}

div#my-cart-modal button.btn.btn-primary:hover {
    background-color: #F60B0E;
}

div#my-cart-modal .alert-danger {
    color: #FFF;
    text-align: center;
    background-color: #F60B0E;
    font-size: 15px;
    margin: 20px;
    border: none;
    border-radius: 0;
}

div#my-cart-modal .close {
    font-size: 25px;
    opacity: 1;
}

div#my-cart-modal .close:hover,
.close:focus {
    opacity: 1;
    color: #F60B0E;
}


/*-- //Shopping-Cart-PopUp --*/


/*-- cart-button --*/

button.top_googles_cart {
    text-align: center;
    background: none;
    letter-spacing: 2px;
    color: #454546;
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: 10px;
}


/*-- cart-css --*/

#staplesbmincart form {
    position: relative;
    padding: 1em;
    background: #fbfbfb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #333;
    -webkit-box-shadow: 0px 0px 5px 2px #9a9a9a;
    -moz-box-shadow: 0px 0px 5px 2px #9a9a9a;
    -o-box-shadow: 0px 0px 5px 2px #9a9a9a;
    -ms-box-shadow: 0px 0px 5px 2px #9a9a9a;
    box-shadow: 0px 0px 5px 2px #9a9a9a;
}

#staplesbmincart form ul {
    overflow-y: scroll;
    max-height: 300px;
}

#staplesbmincart {
    display: none;
    position: fixed;
    left: 68%;
    top: 16.9%;
    width: 420px;
}

.sbmincart-showing #staplesbmincart {
    display: block;
    z-index: 9999;
    -webkit-animation: zoomIn .3s ease;
    -moz-animation: zoomIn .3s ease;
    -o-animation: zoomIn .3s ease;
    -ms-animation: zoomIn .3s ease;
    animation: zoomIn .3s ease;
}

#staplesbmincart form.sbmincart-empty {
    font-size: 16px;
    font-weight: bold;
}

#staplesbmincart ul {
    clear: both;
    float: left;
    width: 100%;
    margin: 5px 0 20px;
    padding: 1em;
    list-style-type: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#staplesbmincart .sbmincart-empty ul {
    display: none;
}

#staplesbmincart .sbmincart-closer {
    float: right;
    margin: -3px -10px 0;
    padding: 0 10px;
    background: 0;
    border: 0;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}

#staplesbmincart .sbmincart-item {
    clear: left;
    padding: 7px 0;
    min-height: 35px;
    font-size: 1em;
}

#staplesbmincart .sbmincart-item+.sbmincart-item {
    border-top: 1px solid #f2f2f2;
}

#staplesbmincart .sbmincart-item a {
    color: #333;
    text-decoration: none;
}

#staplesbmincart .sbmincart-details-name {
    float: left;
    width: 62%;
}

#staplesbmincart .sbmincart-details-quantity {
    float: left;
    width: 15%;
}

#staplesbmincart .sbmincart-details-remove {
    float: left;
    width: 7%;
}

#staplesbmincart .sbmincart-details-price {
    float: left;
    width: 16%;
    text-align: right;
}

#staplesbmincart .sbmincart-attributes {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    overflow: inherit;
    height: inherit;
}

#staplesbmincart .sbmincart-attributes li {
    display: inline;
}

#staplesbmincart .sbmincart-attributes li:after {
    content: ",";
}

#staplesbmincart .sbmincart-attributes li:last-child:after {
    content: "";
}

#staplesbmincart .sbmincart-quantity {
    width: 30px;
    height: 18px;
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    font-size: 13px;
    text-align: right;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
}

#staplesbmincart .sbmincart-quantity:hover {
    border-color: #0078C1;
}

#staplesbmincart .sbmincart-quantity:focus {
    border-color: #0078C1;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(0, 120, 193, 0.4);
}

#staplesbmincart .sbmincart-remove {
    width: 18px;
    height: 19px;
    margin: 2px 0 0;
    padding: 0;
    background: #b7b7b7;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    opacity: 0.70;
    cursor: pointer;
}

#staplesbmincart .sbmincart-remove:hover {
    opacity: 1;
}

#staplesbmincart .sbmincart-footer {
    clear: left;
    text-align: center;
    margin-right: 1.5em;
    position: relative;
}

p.sbmincart-empty-text {
    color: #f44336;
    font-weight: 500;
}

#staplesbmincart .sbmincart-subtotal {
    bottom: 3px;
    padding-left: 0;
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-align: left;
    letter-spacing: 1px;
}

#staplesbmincart .sbmincart-submit {
    margin-right: 6px;
    padding: 0;
    border: none;
    color: #F60B0E;
    background: none;
    outline: none;
    font-size: 0.87em;
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
    right: 0;
    top: 0;
}


/* Let's get this party started */

#staplesbmincart form ul::-webkit-scrollbar {
    width: 5px;
}


/* Track */

#staplesbmincart form ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #999;
    -moz-box-shadow: inset 0 0 6px #999;
    -o-box-shadow: inset 0 0 6px #999;
    -ms-box-shadow: inset 0 0 6px #999;
    box-shadow: inset 0 0 6px #999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}


/* Handle */

#staplesbmincart form ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background: #3c43a4;
    -moz-box-shadow: inset 0 0 6px #3c43a4;
    -o-box-shadow: inset 0 0 6px #3c43a4;
    -ms-box-shadow: inset 0 0 6px #3c43a4;
    -webkit-box-shadow: inset 0 0 6px #3c43a4;
    box-shadow: inset 0 0 6px #3c43a4;
}


/*-- //cart-css --*/


/*-- cart-button --*/

.back form {
    margin-top: 0.5em;
}

.googles-cart {
    font-size: 1em;
    color: #fff;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    background: none;
    outline: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.googles-cart:hover,
.back a:hover {
    box-shadow: none;
}

.back a {
    font-size: 1em;
    color: #fff;
    padding: 4px 7px;
    display: inline-block;
}

.men-pro-item {
    position: relative;
}


/*-- Model-Slider --*/


/*-- effect on products --*/

.img-deals img {
    width: 100%;
    border: 1px solid #ddd;
}

.men-cart-pro {
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-out 0s;
    visibility: hidden;
    justify-items: center;
}

.product-men:nth-child(2) .product-new-top,
.product-men:nth-child(6) .product-new-top,
.product-men:nth-child(7) .product-new-top {
    background: #FFC107;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}

.product-new-top,
.product-men:nth-child(8) .product-new-top,
.product-new-top,
.product-men:nth-child(3) .product-new-top {
    background: #219ff3;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}

.product-new-top {
    background: #F60B0E;
    color: #fff;
    right: -18px;
    position: absolute;
    top: 10px;
    width: 79px;
    font-size: 13px;
    height: 29px;
    text-align: center;
    line-height: 2.3;
}

span.money {
    font-size: 1.1em;
    color: #a02f03;
    font-weight: 500;
    letter-spacing: 1px;
}

.inner-men-cart-pro {
    height: 100%;
    position: relative;
    align-content: center;
    width: 100%;
    left: 5%;
    transition: all 0.5s ease-out 0s;
}

.inner-men-cart-pro ul {
    left: 0;
    margin: -60px 0 0;
    padding: 0;
    position: absolute;
    top: 45%;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}

.link-product-add-cart {
    background: #0c0c0c;
    color: #fff;
    display: inline-block;
    height: 40px;
    text-align: center;
    left: 15%;
    font-size: 13px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all 0.5s ease-out 0s;
}

.men-thumb-item:hover {
    cursor: pointer;
}

.men-thumb-item:hover::before {
    opacity: 1;
    visibility: visible;
}

.men-thumb-item:hover .men-cart-pro {
    opacity: 1;
    visibility: visible;
    justify-content: center;
}

.men-thumb-item:hover .inner-men-cart-pro ul {
    margin: 0px 0 0;
}

.inner-men-cart-pro ul li a:hover {
    background: #d85047 none repeat scroll 0 0;
}

.inner-men-cart-pro .link-product-add-cart {
    width: 60%;
    top: 0px;
    margin: 0 auto;
    position: absolute;
    transition: all 0.5s ease-out 0s;
    font-size: 0.6em;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
}

.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
    top: 77%;
}

.link-product-add-cart:hover {
    background: #832121;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 13px;
}

.info-product-price ul {
    margin-bottom: 0 !important;
}

ul.stars a i {
    color: #cecbcb;
    font-size: 0.5em;
    margin: 0 !important;
}

ul.stars li {
    list-style: none;
    display: inline-block;
}

ul.stars li a {
    color: #333;
}

ul.stars li a i:hover {
    color: #ff4e00;
}

.product-googles-info {
    margin: 5px;
    padding: 15px;
    background-color: #f1f1f1;
}

.featured-product .product-googles-info {
    background-color: transparent;
    border: 0.3px solid #aa594b;
}


/*-- //effect on products --*/


/*-- product left --*/

.ads-list {
    width: 33.333%;
    float: left;
}

.select-box {
    background: rgba(255, 76, 76, 0.66);
    padding: 30px 30px;
    margin: 40px 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.ads-list label {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 6px;
}

.ads-list select {
    width: 70%;
    outline: none;
    color: #000;
    font-size: 15px;
    border: 1px solid #eee;
    padding: 7px 8px;
}

.btn-group.bootstrap-select.show-tick button {
    padding: 8px 10px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 260px;
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #D1E0EE;
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background-color: #fff;
    width: 80%;
    color: #000;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

.input-lg {
    height: 29px;
    padding: 0px 10px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

#custom-search-input .glyphicon-search {
    font-size: 16px;
}

.btn-default {
    border-color: #D1E0EE;
}

.btn {
    display: inline-block;
}

.search-hotel input[type="search"] {
    outline: none;
    padding: 12px 15px;
    color: #888;
    font-size: 13px;
    width: 84%;
    border: none;
    background: none;
    letter-spacing: 1px;
    float: left;
}

.search-hotel form button.btn1 {
    color: #ff4e00;
    border: none;
    padding: 10px 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    background: none;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    float: right;
    width: 15%;
    background: #e2e2e2;
}

.search-hotel form button.btn1:hover {
    background: #2f2f2f;
    color: #fff;
}

.search-grid-left {
    padding: 15px;
    background: #f5f4f0;
}

h3.agileits-sear-head {
    color: #181c27;
    margin-bottom: 20px;
    font-size: 1.1em;
    font-weight: 600;
}

.search-hotel {
    padding: 15px 0;
}

.search-hotel form {
    border: 1px solid #ddd;
}

.img-deal1 {
    float: left;
    text-align: left;
    width: 55%;
    margin-left: 10%;
}

.img-deals {
    float: left;
    width: 25%;
}


/*-- Slider range --*/

ul.dropdown-menu6,
ul.dropdown-menu5 {
    margin: 0;
    position: relative;
}

ul.dropdown-menu6 li {
    list-style: none;
}

ul.dropdown-menu6 li p {
    width: 100%;
}

span.amount {
    color: #ffffff;
    font-size: 16px;
}

input#amount,
input#amount1 {
    font-size: 15px;
    outline: none;
    background: none;
    word-spacing: 1em;
    color: #5a5a5a !important;
    position: absolute;
    left: 0%;
    top: -27px;
    margin-top: -10px;
}

.range,
.w3-brand-select,
.w3ls-featured-ads {
    padding: 20px 20px;
    border: 1px solid #e4e4e4;
}

.side-bar {
    padding: 20px 15px;
    border: 1px solid #e4e4e4;
}

.shop_left img,
.shop_right img {
    width: 100%;
}

.shop_left,
.shop_right {
    padding: 0;
    margin-bottom: 1.3em;
    position: relative;
}

.shop_left.shp,
.shop_right.shp {
    margin-bottom: 0;
    margin-top: 1.2em;
}

.shop_left h6,
.shop_right h6 {
    font-size: 20px;
    margin-top: 15px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    position: absolute;
    top: 38%;
    left: 12%;
}


/*-- //Slider range --*/


/*-- check input --*/

.left-side ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 6px;
}

input.checked {
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.left-side ul li span {
    font-size: 13px;
    color: #000;
    letter-spacing: 1px;
    margin-left: 3px;
    vertical-align: top;
}

.left-side {
    margin-top: 18px;
}


/*-- //check input --*/


/*-- customer --*/

.customer-rev ul li i {
    color: #ff4e00;
    font-size: 0.7em;
}

.customer-rev ul li {
    list-style: none;
}

.customer-rev ul li a span {
    color: #000;
    font-weight: normal;
    font-size: 14px;
    margin-left: 8px;
}

.product_price h4 a {
    color: #293346;
    font-size: 0.7em;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
}


/*-- //customer --*/


/*-- special deals --*/

.img-deal1 h3 {
    color: #080808;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 700;
}

.img-deal1 a {
    font-size: 14px;
    color: #6d6c6c;
}

.special-sec1:nth-child(3),
.special-sec1:nth-child(5) {
    margin: 15px 0;
}

.wrapper_top_shop {
    padding: 15px;
    border: 1px solid #e4e4e4;
}


/*-- //special deals --*/

.wrapper_top_shop h4 {
    font-size: 1.2em;
}

.wrapper_top_shop .inner-men-cart-pro .link-product-add-cart {
    width: 56%;
    top: 0px;
}


/*-- nuts --*/

.men-thumb-item {
    text-align: center;
    position: relative;
    justify-content: center;
}

.item-info-product {
    text-align: center;
}

span.item_price {
    font-size: 18px;
    color: #d60404;
}

.info-product-price del {
    font-weight: 300;
    margin-left: 13px;
    font-size: 16px;
}

.product-sec1.product-sec2 {
    background: url(../images/bg1.jpg)no-repeat 0px 0px;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    position: relative;
}

.effect-bg {
    margin-top: 40px;
}

.effect-bg h3 {
    color: #fff;
    font-size: 47px;
    letter-spacing: 3px;
    font-weight: 600;
}

.effect-bg h6 {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 18px 0;
    color: #fff;
}

.effect-bg p {
    color: #000;
}

.product-men img {
    width: 75%;
    height: 220px;
}

.grid_meta {
    float: left;
    width: 100%;
    text-align: left;
}

button.googles-cart {
    font-size: 1.5em;
    color: rgb(131, 45, 49);
    border: none;
    text-align: center;
    border-left: none !important;
    background: none;
    margin-top: -0.1em;
    cursor: pointer;
}

.product-googles-info:hover button.googles-cart {
    color: #f06b32;
    font-size: 1.7em;
}

ul.footer_list_icons.single_in li {
    color: #2f2f2f;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

ul.footer_list_icons.single_in li a {
    color: #565555;
}

ul.footer_list_icons.single_in li a:hover {
    color: #333;
}

.product-googles-info.slide-img {
    border: none;
}

.product-googles-info.slide-img .product-new-top {
    background: #989494;
}


/*-- single-page --*/

.occasion-cart h5 {
    font-size: 1em;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
}

.single-right-left {
    padding-left: 45px !important;
}

.single-right-left h3 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin: 0;
    letter-spacing: 1px;
}

.single-right-left p {
    color: #000;
    font-size: 20px;
    margin: .5em 0 1em;
}

.single-right-left del {
    color: #555;
    margin-left: 10px;
    font-weight: 300;
    font-size: 0.8em;
}

.description {
    margin: 1.5em 0;
}

.description h5 {
    color: #545454;
    font-size: 0.9em;
    margin-bottom: 12px;
    letter-spacing: 1px;
}

.description p {
    color: #545454;
    line-height: 1.8em;
    margin: 0.5em 0 0;
    font-size: 0.9em;
}

.occasional {
    margin: 2em 0;
}

.color-quality-right h5,
.occasional h5 {
    color: #000;
    font-size: 16px;
    margin: 0 0 12px;
    letter-spacing: 1px;
}

.color-quality-right select {
    padding: 5px 21px;
}

.colr {
    width: 33.333%;
    float: left;
}

.description input[type="text"] {
    padding: 8px 8px;
    color: #ccc;
    font-size: 15px;
    width: 45%;
    outline: none;
    letter-spacing: 1px;
    float: left;
    border-radius: 0;
}

.description input[type="submit"] {
    color: #fff;
    font-size: 16px;
    background: #333;
    border: none;
    outline: none;
    padding: 7px 17px 9px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.description input[type="submit"]:hover {
    background: #ff4e00;
}

.occasion-cart a {
    padding: 8px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    display: none;
}

.singlepage {
    float: none!important;
}

.bootstrap-tab {
    margin: 5em 0 0;
}

.bootstrap-tab-text p {
    font-size: 14px;
    color: #999;
    line-height: 1.8em;
}

.bootstrap-tab-text h5,
.add-review h4 {
    text-transform: uppercase;
    font-size: 1em;
    color: #212121;
    margin: 2em 0 1em 0;
    font-weight: 600;
    letter-spacing: 1px;
}

.bootstrap-tab-text p span {
    display: block;
    margin: 2em 0 0;
}

.bootstrap-tab-text-grid-left {
    float: left;
    width: 14%;
}

.bootstrap-tab-text-grid-right {
    float: right;
    width: 83%;
}

.bootstrap-tab-text-grid-right ul li {
    display: inline-block;
}

.bootstrap-tab-text-grid-right ul li:nth-child(2) {
    float: right;
}

.bootstrap-tab-text-grid-right ul li a {
    font-size: 1em;
    color: #ff4e00;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

.bootstrap-tab-text-grid-right ul li a:hover {
    color: #212121;
}

.bootstrap-tab-text-grid-right ul li a i {
    left: -1em;
}

.bootstrap-tab-text-grids {
    margin: 3em 0 0 0em;
}

.bootstrap-tab-text-grid-right p {
    margin: 2em 0 0;
    color: #545454;
    font-size: 0.9em;
    line-height: 2em;
}

.bootstrap-tab-text-grid:nth-child(2) {
    margin: 3em 0 0;
}

.add-review form {
    margin: 2em 0 0;
}

.add-review input[type="text"],
.add-review input[type="email"],
.add-review textarea {
    outline: none;
    padding: 10px;
    border: 1px solid #D2D2D2;
    width: 49%;
    font-size: 15px;
    color: #888;
    float: left;
    border-radius: 0;
}

.add-review input[type="email"] {
    margin-left: 1%;
}

.add-review textarea {
    width: 100% !important;
    min-height: 120px;
    margin: 1em 0;
    resize: none;
}

.add-review input[type="text"]:nth-child(3) {
    width: 100%;
    margin: 1em 0;
}

.add-review input[type="submit"] {
    outline: none;
    padding: 14px 0;
    background: #ff4e00;
    border: none;
    width: 20%;
    font-size: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

.add-review input[type="submit"]:hover {
    background: #000;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #F60B0E;
    color: #fff;
}

.product-men.single {
    margin: 0;
}

.w3_agile_latest_arrivals {
    margin: 4em auto 0;
}

.responsive_tabs_agileits {
    margin-top: 3em;
}

.googles.single-item {
    display: block;
}

.single_page h6 {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #4e4c4c;
    margin-bottom: 1em;
}

.single_page p {
    line-height: 2em;
    color: #888;
}

p.para {
    margin-top: 1em;
}

span.item_price {
    font-size: 19px;
    color: #212020;
    font-weight: 600;
}

.singlepage button.googles-cart.pgoogles-cart, 
.btn-submit-coment {
    font-size: 13px;
    color: #fff;
    background: #1d1d1d;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    padding: .7em 1em;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

    .singlepage button.googles-cart.pgoogles-cart:hover, .btn-submit-coment:hover {
        background-color: #04c5c5;
        color: #000;
        letter-spacing: 2px;
        animation: 0.3s ease-in-out;
    }

.responsive_tabs {
    margin-top: 1em;
}

.new_arrivals h3 {
    font-size: 1.4em;
    color: #080808;
    font-size: 1.4em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 3em 0 1em 0;
}

.googles.single-item.single_page_b {
    float: left;
    margin-bottom: 2em;
    width: 100%;
}

.item-info-product h4 a {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: dimgray;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
}

.logo-w3layouts .sticky {
    text-align: left;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 500;
    width: 20%;
}

.logo-w3layouts .sticky .navbar-brand {
    color: whitesmoke !important;
}

.top-header .sticky {
    background-color: #000;
}


/*-- /Responsive --*/

@media(max-width:1280px) {
    .item-info-product h4 a {
        font-size: 14px;
    }
    .googles.single-item {
        float: right;
        width: 15%;
    }
    .inner-men-cart-pro .link-product-add-cart {
        top: 0px;
        margin: 0 auto;
        font-size: 0.7em;
        height: 37px;
    }
    .product-new-top {
        right: 0;
        top: 0;
        width: 65px;
        font-size: 13px;
        height: 29px;
        line-height: 2.3;
    }
    .img-deals {
        padding-left: 0;
    }
    #staplesbmincart {
        left: 52%;
        top: 16.9%;
        width: 420px;
    }
    button.googles-cart {
        font-size: 1.2em;
    }
}

@media(max-width:1050px) {
    .search-hotel input[type="search"] {
        width: 75%;
    }
    .product-men.women_two.shop-gd {
        float: left;
        -webkit-box-flex: 0;
        flex: 0 0 33%;
        max-width: 33%;
        margin-bottom: 1em;
    }
    .googles.single-item {
        float: right;
        width: 40%;
    }
    .product-men.women_two {
        padding: 0 5px;
    }
}

@media(max-width:991px) {
    .single-right-left.simpleCart_shelfItem {
        margin-top: 2em;
    }
    .single-right-left {
        width: 80%;
    }
    .responsive_tabs {
        margin-top: 3em;
        width: 100%;
    }
    .side-bar {
        width: 100%;
        margin-top: 2em;
    }
    .left-ads-display {
        padding: 0;
    }
    .product-men.women_two.shop-gd,
    .product-men.women_two {
        float: left;
        -webkit-box-flex: 0;
        flex: 0 0 33%;
        max-width: 33%;
        margin-bottom: 1em;
    }
    .product-men.women_two.bot-gd {
        float: left;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 1em;
    }
    .left-ads-display {
        padding: 0;
        margin-top: 2em;
    }
    .product-men.women_two {
        padding: 0 15px;
    }
    .product-men.women_two.bot-gd {
        padding: 0 6px;
    }
    .add-review input[type="submit"] {
        outline: none;
        padding: 12px 0;
        background: #ff4e00;
        border: none;
        width: 30%;
    }
}

@media(max-width:800px) {
    .single_page h6 {
        font-size: 1.2em;
        margin: 1em 0;
    }
    .bootstrap-tab-text-grid-right p {
        margin: 1em 0 0;
    }
    #staplesbmincart {
        left: 52%;
        top: 16.9%;
        width: 343px;
    }
    button.top_googles_cart {
        padding: 0.5em 0.5em;
        letter-spacing: 1px;
    }
}

@media(max-width:736px) {
    #staplesbmincart {
        left: 52%;
        top: 16.9%;
        width: 289px;
    }
    .product-men.women_two {
        padding: 0 10px;
    }
}

@media(max-width:667px) {
    .grid_meta {
        float: left;
        width: 100%;
        text-align: center;
    }
    .googles.single-item {
        float: none;
        width: 100%;
        text-align: center;
    }
    .googles.single-item.singlepage {
        text-align: left;
    }
}

@media(max-width:640px) {
    #staplesbmincart .sbmincart-submit {
        margin-right: -5px;
        font-size: 0.7em;
    }
    #staplesbmincart .sbmincart-subtotal {
        bottom: 3px;
        font-size: 13px;
    }
    #staplesbmincart {
        left: 52%;
        top: 16.9%;
        width: 260px;
    }
    #staplesbmincart .sbmincart-item a {
        font-size: 0.8em;
    }
    #staplesbmincart .sbmincart-submit {
        margin-right: -16px;
        font-size: 0.7em;
    }
    #staplesbmincart .sbmincart-details-name {
        float: left;
        width: 51%;
    }
    #staplesbmincart .sbmincart-details-remove {
        float: left;
        width: 10%;
    }
    #staplesbmincart form {
        position: relative;
        padding: 1em 0.5em;
    }
    .add-review input[type="submit"] {
        outline: none;
        padding: 12px 0;
        background: #ff4e00;
        border: none;
        width: 50%;
    }
}

@media(max-width:600px) {
    .colr {
        width: 47.333%;
        float: left;
    }
    .new_arrivals h3 {
        font-size: 1.2em;
    }
    .single-right-left {
        width: 100%;
    }
    .product-men.women_two {
        padding: 0 5px;
        max-width: 45%;
        flex: 0 0 45%;
    }
    .testimonials_grid {
        margin: 0 auto;
        width: 81%;
    }
    .testimonials_grid .img {
        width: 100%;
        height: 120px;
    }
}

@media(max-width:480px) {
    .product-men {
        padding-left: 0;
        padding: 0;
    }
    #staplesbmincart {
        left: 17%;
        top: 15.9%;
        width: 294px;
    }
    .single-right-left h3 {
        font-size: 28px;
        font-weight: 600;
        color: black;
    }
    .colr {
        width: 80%;
        float: left;
    }
    figure.effect-lexi figcaption::before {
        position: absolute;
        right: -100px;
        bottom: -100px;
        width: 256px;
        height: 254px;
    }
    figure.effect-lexi h3 {
        font-size: 17px;
    }
    figure.effect-lexi p {
        font-size: .7em;
        line-height: 1.8em;
    }
    .add-review input[type="submit"] {
        outline: none;
        padding: 12px 0;
        background: #ff4e00;
        border: none;
        width: 50%;
    }
}

@media(max-width:414px) {
    span.money {
        font-size: 0.9em;
        font-weight: 500;
    }
    .inner-men-cart-pro .link-product-add-cart {
        width: 80%;
        top: 0px;
        margin: 0 auto;
        font-size: 0.5em;
        height: 37px;
    }
    .inner-men-cart-pro {
        height: 87%;
    }
    .product-men.women_two.shop-gd,
    .product-men.women_two {
        float: left;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 1em;
    }
    .inner-men-cart-pro {
        height: 98%;
    }
    .item-info-product h4 a {
        font-size: 15px;
    }
    .colr {
        width: 100%;
        float: left;
    }
}
.my-discount:after {
    content:"%";
    color:antiquewhite;
}
@media(max-width:384px) {
    .inner-men-cart-pro .link-product-add-cart {
        width: 70%;
        top: 0px;
        margin: 0 auto;
        font-size: 0.5em;
        height: 37px;
    }
    .item-info-product h4 a {
        font-size: 14px;
    }
    #staplesbmincart {
        left: 9%;
        top: 15.9%;
        width: 294px;
    }
}

.btn-pagination {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.btn-pagination button {
    margin-right: 3px;
    height: 35px;
    border: 1px solid #B21E1E;
    background-color: none;
}

.btn-pagination button:hover {
    background-color: #c9302c;
}

.btn-pagination button .active {
    background-color: darkred;
    color: white;
}


/*-- //Responsive --*/