﻿:root {
    --orange: rgb(255,152,0);
    --red-main: #550c0c;
    --red-blood: #ff0b0b;
    --yellow-main: #ffd300;
    --red-deep: #cc0000;
    --orange-background: #ffeff0;
}
body {
    font-size:20px;
}
.img-cart {
    height: auto;
    width: 65px;
   
}
input[type=checkbox] {
    transform: scale(2);
    margin: 10px;
    cursor: pointer;
}
.decorate-checkbox {
    filter: hue-rotate(150deg);
}
#tableCart {
    border-collapse: collapse !important;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#tableCart th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--red-main);
    color: white;

}
#tableCart th,
#tableCart td {
    padding: 12px 15px;
}
#tableCart tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tableCart tr:hover {
    background-color: #ddd;
}
.priceOrigin {
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 8px;
    color: #bfbfbf;
}
.money-deco:after{
    content:"đ";
    font-size:12px;
}
.main-price{
    color:black;
    font-weight:bold;
}