﻿:root {
    --orange: rgb(255,152,0);
    --red-main: #550c0c;
    --red-blood: #ff0b0b;
    --yellow-main: #ffd300;
    --red-deep: #cc0000;
}

body {
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
#addToCart,
.btn-submit-coment {
    width: 220px;
    height: 40px;
    border-radius: 22px;
    background: linear-gradient(45deg, var(--red-blood), var(--orange));
}
#priceProduct {
    font-size: 2.5rem;
    color: var(--orange);
    font-weight:bold;
}
.item_price:after {
    content: " Đ";
    font-size: 2.5rem;
    color: var(--orange);
   
}
#priceOrigin {
    margin-left: 8px;
    color: #bfbfbf;
    text-decoration: line-through;
}
#scale-discount {
    -webkit-border-radius: 5px;
    background-color: rgba(247, 148, 30, 0.1);
    color: #F39801;
    padding: 4px 10px;
    font-weight: 600;
}
.percent-discount:after {
    content: "%";
  
}
.my-start-rating {
    color: rgb(255,152,0);
}
.my-start-main{
    color:var(--yellow-main);
}
.red-deep{
    color:var(--red-deep);
}
.orange-light{
    color:var(--orange);
}
.btn-submit-coment {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 5px;
    font-size: 20px;
}
    .btn-submit-coment:hover {
        letter-spacing: 1px;
        font-weight: 500;
        color: black;
     
    }
.container {
    background: #f8f6f0;
}
.ghost {
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
}
.img-item {
/* height:120px;
 width:160px;*/
height:80px;
 display:block;
}
#display-suggest{
    display:flex;
}
.item-size{
  /*  height:120px;
    width:140px;*/
}
