﻿:root {
    --red-light: #ff4e00;
    --orange: rgb(255,152,0);
    --red-main: #550c0c;
    --red-blood: #ff0b0b;
    --yellow-main: #ffd300;
    --red-deep: #cc0000;
    --orange-background: #ffeff0;
    --orange-background-tight: #fff8f3;
    --blue-background: rgb(250, 253, 255);
    --screen-char: rgb(0, 191, 165);
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.th {
    padding: 1rem;
}

.tr {
    width: 100%;
}

#tbl-content {
    border-collapse: collapse !important;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

    #tbl-content th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: var(--red-main);
        color: white;
    }

    #tbl-content th,
    #tbl-content td {
        padding: 12px 15px;
    }
.container{
    background:#fff;
}
.section-main {
 
}
.header-payment {
    color: var(--red-main);
    background: var(--orange-background);
    padding: 1em;
}
.checkbox-product {
    filter: hue-rotate(150deg)
}

    .checkbox-product:hover {
        cursor: pointer;
        transform: scale(2);
        margin: 10px;
    }
.red-deco{
    color:var(--red-deep);
}
.red-bold-deco{
    color:var(--red-main);
}
.dec-money:after {
    padding-left: 5px;
    padding-top: 0;
    vertical-align: text-top;
    content: 'đ';
    font-size:12px;
  /*  background: var(--orange-background);*/
    color: var(--red-main);
}

#        {
    text-align: right;
    padding: 1em 0 1em 1em;
}

.item-image {
    height: 55px;
}
/*--/contact--*/
.contact_grid_right {
    padding-top: 4em;
}

.address-grid i {
    font-size: 1.7em;
    color: #ff4e00;
}

.contact_grid_right {
    width: 100%;
}

p.sub {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.8em;
}

.contact_left_grid label {
    color: #313233;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85em;
    font-weight: 500;
}

.contact_grid_right input[type="text"],
.contact_grid_right input[type="email"],
.contact_grid_right textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: #f7f7f7;
    width: 100%;
    letter-spacing: 1px;
    border: 1px solid #ebeeef;
}

.contact_grid_right textarea {
    min-height: 150px;
    margin: 1em 0em;
    resize: none;
}

.contact_grid_right input[type="submit"] {
    outline: none;
    padding: 20px 0;
    font-size: 14px;
    color: #fff;
    background: #0e0f10;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 600;
    cursor: pointer;
}

    .contact_grid_right input[type="submit"]:hover {
        background: #ff4e00;
    }

.blockText {
    display: block;
}

.contact-left h4 {
    color: #444;
    font-size: 1em;
    margin-bottom: .5em;
    letter-spacing: 1px;
    font-weight: 700;
}

.contact-left p {
    font-size: 1em;
    letter-spacing: 1px;
}

.contact-text a {
    color: #888;
}

    .contact-text a:hover {
        color: #fb383b;
    }

.contact_grid_right h6,
.contact-left h6 {
    font-size: 1.2em;
    color: #292b2c;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
    font-weight: 400;
}

.btn-primary {
    height: 40px;
    width: 120px;
    background-color: #e23c36;
    color: white;
    margin-top: 20px;
    margin-right: 10px;
    border: none;
    outline: none;
}

.contact-map {
    width: 100%;
}

    .contact-map iframe {
        width: 100%;
        height: 350px;
        border: 10px solid #ebeeef;
    }

.ad-inf-sec {
    padding: 4em 0;
}

.address-right a {
    color: #083940;
}

.address-right p {
    color: #2a8490;
}

.address-info {
    background: #f7f7f7;
    border: 1px solid #ebeeef;
    padding: 3em 1em;
}

.subCal {
    display: flex;
}

.left-subCal {
    float: right;
    text-align: right;
    width: 70%;
    padding:1em 1em 0 1em;
}
.left-subCal, .right-subCal {
    background: var(--blue-background);
    border-top: 0.0625rem dashed rgba(0, 0, 0, 0.09);
    border-bottom: 0.0625rem dashed rgba(0, 0, 0, 0.09);
    border-left: 0.0625rem dashed rgba(0, 0, 0, 0.09);
}
.title-screen{
    color:var(--screen-char);
}
.right-subCal {
    width: 30%;
    text-align: right;
    float: right;
}

.my-option {
    width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
    margin: 0.5em 0;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: left;
    height: auto !important;
}

.left-option {
    width: 65%;
    text-align: right;
    padding-right: 2%;
    padding: 1em 1em 1em 1em;
}

.total-Payment {
    font-size: 25px;
    color: #ff4e00;
}

.right-option {
    width: 35%;
}

.opDelivery, .opVoucher {
    width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 1.3em;
    margin: 0.5em 0;
    letter-spacing: 1px;
    text-align: left;
    height: auto !important;
}

.my-btn-plus, .my-btn-minus {
    height: 40px;
    color: rgb(255,152,0);
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    border: 1px solid #ff0b0b;
    vertical-align: bottom;
}
/*-- //contact--*/
/*--responsive--*/
@media(max-width:1080px) {
    .input {
        max-width: 309px;
        width: calc(100% - 0em);
        vertical-align: top;
        float: left;
    }
}

@media(max-width:991px) {
    .contact_grids_info {
        padding: 0;
        margin-top: 1em;
    }

    .input {
        max-width: 100%;
    }

    .map iframe {
        width: 100%;
        min-height: 303px;
    }

    .address-grid:nth-child(2) {
        margin: 1.5em 0;
    }

    .address.row {
        margin: 0;
    }
}

@media(max-width:767px) {
    .address-right.text-left {
        text-align: center !important;
        margin-top: 1em;
    }
}

@media(max-width:640px) {
    .mail_form input[type="submit"] {
        width: 40%;
    }

    .mail_form textarea {
        padding: .9em 0.9em;
        margin: 1.3em 0;
        min-height: 140px;
    }

    .contact-map iframe {
        width: 100%;
        height: 250px;
    }
}

@media(max-width:600px) {
    .map iframe {
        width: 100%;
        min-height: 250px;
    }

    .contact_grid_right {
        padding-top: 3em;
    }
}

@media(max-width:440px) {
    .contact_grid_right {
        padding-top: 2em;
    }
}

/*--//responsive--*/
/* pop */
.popup {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000000;
    top: 0;
    display:none;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.pop-contain {
    width: 70%;
    height: 50%;
    padding: 10px;
    margin-top: 10%;
    margin-left: 15%;
    background-color: white;
}

.pop-display {
    padding: 5%;
}

.pop-header {
    color: #550c0c;
}

.button-ok {
    height: 44px;
    width: 120px;
    border-radius: 5px;
    background-color: linear-gradient(45deg, var(--red-blood), var(--orange));
    float: right;
    width: 20%;
  /*  padding: 15px;*/
    background: #ffeff0;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: rgb(255,152,0);
    border: solid 1px;
}

    .button-ok:hover {
        color: #fff;
        background: rgb(255,152,0);
        border: solid 1px #550c0c;
    }

.bottom-part {
    padding: 5%;
}
.nomal-contain {
    font-size: 18px;
    padding:16px 0px 0 0;
}
/*end- pop*/
